# 0a2b636398cb84cf0a27c648f88636defe12ab76
# 配置语言及相应版本
language: node_js
node_js: stable

# 项目所在分支
branches:
  - hexo

before_install:
  - git config user.name "jiaren.tang"
  - git config user.email "shmilybaozi@163.com"

# 安装依赖
install:
  - yarn

#before_script:
# - npm install -g gulp

# 部署的命令
script:
  - yarn deploy # hexo clean && hexo g -d

# 缓存n node_modules
cache:
  directories:
    - node_modules
